:root {
  --color1: #fc284f;
  --color2: #ff824a;
  --color3: #fea887;
  --color4: #f6e7f7;
  --color5: #d1d0d7;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto; // padrão normal
}

body.menu-aberto {
  overflow: hidden !important; // só trava o scroll quando menu está aberto
}



